<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unique.examapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePageData"></activity>
        <activity android:name=".Grade9EnglishWes" />
        <activity android:name=".Grade9EnglishSci" />
        <activity android:name=".Grade9EnglishMath" />
        <activity android:name=".Grade9EnglishGeo" />
        <activity android:name=".Grade9EnglishCiv" />
        <activity android:name=".Grade9English" />
        <activity android:name=".Grade9SinhalaBud" />
        <activity android:name=".Grade9SinhalaCiv" />
        <activity android:name=".Grade9SinhalaEng" />
        <activity android:name=".Grade9SinhalaFre" />
        <activity android:name=".Grade9SinhalaGeo" />
        <activity android:name=".Grade9SinhalaHeal" />
        <activity android:name=".Grade9SinhalaHis" />
        <activity android:name=".Grade9SinhalaMat" />
        <activity android:name=".Grade9SinhalaPts" />
        <activity android:name=".Grade9SinhalaSci" />
        <activity android:name=".Grade9SinhalaSin" />
        <activity android:name=".Grade9Sinhala" />
        <activity android:name=".Grade8SinhalaSin" />
        <activity android:name=".Grade8SinhalaSci" />
        <activity android:name=".Grade8SinhalaPts" />
        <activity android:name=".Grade8SinhalaMat" />
        <activity android:name=".Grade8SinhalaHis" />
        <activity android:name=".Grade8SinhalaHeal" />
        <activity android:name=".Grade8SinhalaGeo" />
        <activity android:name=".Grade8SinhalaEng" />
        <activity android:name=".Grade8SinhalaCiv" />
        <activity android:name=".Grade8SinhalaBud" />
        <activity android:name=".Grade8Sinhala" />
        <activity android:name=".Grade8EnglishWes" />
        <activity android:name=".Grade8EnglishSci" />
        <activity android:name=".Grade8EnglishMath" />
        <activity android:name=".Grade8EnglishHeal" />
        <activity android:name=".Grade8EnglishGeo" />
        <activity android:name=".Grade8EnglishCiv" />
        <activity android:name=".Grade8English" />
        <activity android:name=".Grade7SinhalaSin" />
        <activity android:name=".Grade7SinhalaSci" />
        <activity android:name=".Grade7SinhalaPts" />
        <activity android:name=".Grade7SinhalaMaths" />
        <activity android:name=".Grade7SinhalaHist" />
        <activity android:name=".Grade7SinhalaHeal" />
        <activity android:name=".Grade7SinhalaGeo" />
        <activity android:name=".Grade7SinhalaEng" />
        <activity android:name=".Grade7SinhalaCivic" />
        <activity android:name=".Grade7SinhalaBudd" />
        <activity android:name=".Grade7Sinhala" />
        <activity android:name=".Grade7EnglishSci" />
        <activity android:name=".Grade7EnglishMaths" />
        <activity android:name=".Grade7EnglishHeal" />
        <activity android:name=".Grade7EnglishGeo" />
        <activity android:name=".Grade7EnglishCivic" />
        <activity android:name=".Grade7English" />
        <activity android:name=".Grade6SinhalaMediumSinhalan" />
        <activity android:name=".Grade6SinhalaMediumSciencen" />
        <activity android:name=".Grade6SinhalaMediumPtsn" />
        <activity android:name=".Grade6SinhalaMediumMathameticsn" />
        <activity android:name=".Grade6SinhalaMediumHistoryn" />
        <activity android:name=".Grade6SinhalaMediumHealthn" />
        <activity android:name=".Grade6SinhalaMediumGeographyn" />
        <activity android:name=".Grade6SinhalaMediumEnglishn" />
        <activity android:name=".Grade6SinhalaMediumCivicn" />
        <activity android:name=".Grade6SinhalaMediumBuddhismn" />
        <activity android:name=".Grade6SinhalaMedium" />
        <activity android:name=".Grade6EnglishMediumScience" />
        <activity android:name=".Grade6EnglishMediumMaths" />
        <activity android:name=".Grade6EnglishMediumHealth" />
        <activity android:name=".Grade6EnglishMediumGeography" />
        <activity android:name=".Grade6EnglishMediumCivicEducation" />
        <activity android:name=".Grade6EnglishMedium" />
        <activity android:name=".Grade5Tamil" />
        <activity android:name=".Grade5SinhalaLanguage" />
        <activity android:name=".Grade5Mathametics" />
        <activity android:name=".Grade5EnvironmentalStudies" />
        <activity android:name=".Grade5Buddhism" />
        <activity android:name=".Grade4Tamil" />
        <activity android:name=".Grade4SinhalaLanguage" />
        <activity android:name=".Grade4Mathametics" />
        <activity android:name=".Grade4EnvironmentalStudies" />
        <activity android:name=".Grade4English" />
        <activity android:name=".Grade4Buddhism" />
        <activity android:name=".Grade11SinTam" />
        <activity android:name=".Grade11SinSinl" />
        <activity android:name=".Grade11SinSin" />
        <activity android:name=".Grade11SinSci" />
        <activity android:name=".Grade11SinOri" />
        <activity android:name=".Grade11SinMat" />
        <activity android:name=".Grade11SinJap" />
        <activity android:name=".Grade11SinIct" />
        <activity android:name=".Grade11SinHist" />
        <activity android:name=".Grade11SinHeal" />
        <activity android:name=".Grade11SinGeo" />
        <activity android:name=".Grade11SinFre" />
        <activity android:name=".Grade11SinEngl" />
        <activity android:name=".Grade11SinEng" />
        <activity android:name=".Grade11SinEle" />
        <activity android:name=".Grade11SinDra" />
        <activity android:name=".Grade11SinDes" />
        <activity android:name=".Grade11SinDan" />
        <activity android:name=".Grade11SinCiv" />
        <activity android:name=".Grade11SinBus" />
        <activity android:name=".Grade11SinBud" />
        <activity android:name=".Grade11SinArt" />
        <activity android:name=".Grade11SinAgr" />
        <activity android:name=".Grade11Sin" />
        <activity android:name=".Grade11EngWes" />
        <activity android:name=".Grade11EngSci" />
        <activity android:name=".Grade11EngMat" />
        <activity android:name=".Grade11EngIct" />
        <activity android:name=".Grade11EngHeal" />
        <activity android:name=".Grade11EngBus" />
        <activity android:name=".Grade11Eng" />
        <activity android:name=".Grade10SinTam" />
        <activity android:name=".Grade10SinSinl" />
        <activity android:name=".Grade10SinSin" />
        <activity android:name=".Grade10SinSci" />
        <activity android:name=".Grade10SinOri" />
        <activity android:name=".Grade10SinMat" />
        <activity android:name=".Grade10SinJap" />
        <activity android:name=".Grade10SinIct" />
        <activity android:name=".Grade10SinHis" />
        <activity android:name=".Grade10SinHeal" />
        <activity android:name=".Grade10SinGeo" />
        <activity android:name=".Grade10SinFre" />
        <activity android:name=".Grade10SinEngl" />
        <activity android:name=".Grade10SinEng" />
        <activity android:name=".Grade10SinEle" />
        <activity android:name=".Grade10SinDra" />
        <activity android:name=".Grade10SinDes" />
        <activity android:name=".Grade10SinDan" />
        <activity android:name=".Grade10SinCiv" />
        <activity android:name=".Grade10SinBus" />
        <activity android:name=".Grade10SinBud" />
        <activity android:name=".Grade10SinArt" />
        <activity android:name=".Grade10SinAgr" />
        <activity android:name=".Grade10Sin" />
        <activity android:name=".Grade10EngWes" />
        <activity android:name=".Grade10EngSci" />
        <activity android:name=".Grade10EngMat" />
        <activity android:name=".Grade10EngIct" />
        <activity android:name=".Grade10EngHeal" />
        <activity android:name=".Grade10EngBus" />
        <activity android:name=".Grade10Eng" />
        <activity android:name=".Grade4" />
        <activity android:name=".Grade5" />
        <activity android:name=".Grade11" />
        <activity android:name=".Grade10" />
        <activity android:name=".Grade9" />
        <activity android:name=".Grade8" />
        <activity android:name=".Grade7" />
        <activity android:name=".Grade6" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3884148200831658~3513980587" />

        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>